<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace命名空间，为了对sql语句进行隔离，方便管理，mapper开发dao方式，使用namespace有特殊作用  
mapper代理开发时将namespace指定为mapper接口的全限定名  
 -->
<mapper namespace="com.chengxusheji.mapper.GoodsMapper"> 
<!--在mapper.xml文件中配置很多的sql语句，执行每个sql语句时，封装为MappedStatement对象 
mapper.xml以statement为单位管理sql语句  
 -->
	<!-- 添加商品记录 -->
	<insert id="addGoods" parameterType="goods">
		insert into t_goods(goodTypeObj,goodsName,goodsRfid,goodPrice,goodsDescribe,goodIntoTIme,goodsNumb,goodsUserObj) values 
		(#{goodTypeObj.goodTypeId},#{goodsName},#{goodsRfid},#{goodPrice},#{goodsDescribe},#{goodIntoTIme},#{goodsNumb},#{goodsUserObj.user_name})
	</insert>

	<!-- 按照查询条件分页查询商品记录 -->
	<select id="queryGoods" resultMap="goodsMap" >
		select t_goods.* from t_goods,t_goodsType,t_userInfo ${where} and t_goods.goodTypeObj = t_goodsType.goodTypeId and t_goods.goodsUserObj = t_userInfo.user_name limit #{startIndex},#{pageSize}
	</select>
	<resultMap id="goodsMap" type="goods">
        <id property="goodsId" column="goodsId" />
        <association property="goodTypeObj" column="goodTypeObj" select="com.chengxusheji.mapper.GoodsTypeMapper.getGoodsType" />
        <association property="goodsUserObj" column="goodsUserObj" select="com.chengxusheji.mapper.UserInfoMapper.getUserInfo" />
    </resultMap>

    <!-- 按照查询条件查询所有商品记录 -->
	<select id="queryGoodsList" resultMap="goodsMap" >
		select t_goods.* from t_goods,t_goodsType,t_userInfo ${where} and t_goods.goodTypeObj = t_goodsType.goodTypeId and t_goods.goodsUserObj = t_userInfo.user_name
	</select>

    <!-- 按照查询条件的商品记录数 -->
	<select id="queryGoodsCount" resultType="int">
		select count(*) from t_goods,t_goodsType,t_userInfo ${where} and t_goods.goodTypeObj = t_goodsType.goodTypeId and t_goods.goodsUserObj = t_userInfo.user_name
	</select>

	<!-- 根据主键查询某个商品记录 -->
	<select id="getGoods" parameterType="int" resultMap="goodsMap">
		select * from t_goods where t_goods.goodsId = #{goodsId}
	</select>
	
	
	<!-- 根据rfid查询某个商品记录 -->
	<select id="getGoodsByRfid" parameterType="string" resultMap="goodsMap">
		select * from t_goods where t_goods.goodsRfid = #{rfid}
	</select>

	<!-- 更新商品记录 -->
	<update id="updateGoods" parameterType="goods">
		update t_goods set goodTypeObj=#{goodTypeObj.goodTypeId},goodsName=#{goodsName},goodsRfid=#{goodsRfid},goodPrice=#{goodPrice},goodsDescribe=#{goodsDescribe},goodIntoTIme=#{goodIntoTIme},goodsNumb=#{goodsNumb},goodsUserObj=#{goodsUserObj.user_name} where goodsId = #{goodsId}
	</update>

	<!-- 删除商品记录 -->
	<delete id="deleteGoods" parameterType="int">
		delete from t_goods where goodsId=#{goodsId}
	</delete>

</mapper>
